<h1>Places</h1>
<% if @current_user %>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>

<div class="col-sm-3">
        <a href="/places/new/" class="btn btn-success">New Place</a>
      </div>

<% else %>
<div class="col-sm-3">
        <a href="/sessions/new/" class="btn btn-success">Login</a>
      </div>

<% end %>